<h1>Listing Sliders</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @sliders.each do |slider| %>
      <tr>
        <td><%= link_to slider.title, slider %></td>
       
       
      </tr>
    <% end %>
  </tbody>
</table>


<br />
