<h1> dfd</h1>


<div class="slider-wrapper">
<div class="slider-window">
<div class="slider">




<% @myslider = Slider.find(5) %>

<%= render partial: "myslider", locals: { myslider: @myslider} %>




<p></p>






