<h1>Editing runner</h1>

<%= render 'form' %>

<%= link_to 'Show', @runner %> |
<%= link_to 'Back', runners_path %>
<%= link_to 'Destroy', @runner, method: :delete, data: { confirm: 'Are you sure?' } %>
