@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #eeeeee;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}










/* slider */

.slider-wrapper {
  position: relative;
  
}

.slider-window {
  width: 150px;
  margin: 0 auto;
  overflow:hidden;
}

.slider {
  position: relative;
  left: 0;
  top:0;
}

.slider-item {
  float: left;
  margin-right: 20px;
  list-style: none;
}


.slider-controls{
  margin-top:10px;
  top: 60%;
  font-size: 60px;
}

.slider-controls a:link{
  text-decoration: none;
}


.slider-text {
  width:200px;
}

.slider-controls a {
position: absolute;
top: 50%;
width: 38px;
height: 87px;
cursor: pointer;
}

.slider-controls a.slider-controls-next {
right: 0px;
}