.slider-wrapper {
  margin: 0 auto;
  overflow:hidden;
  width: 200px;
}

.slider {
  position: relative;
  left: 0;
  top:0;
}

.slider-item {
  float: left;
  list-style: none;
}


.slider-controls{
  margin-top:10px;
}

.slider-controls a:link{
  text-decoration: none;
}

.slider-controls-prev {
  float:left; 
}

.slider-controls-next {
  float:right;
}